@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  color: black;
}

/* Background Toggles */
.background-toggles {
  display: flex;
  justify-content: left;
  padding-left: 75px;
  padding-bottom: 10px;
  align-items: center;
  gap: 20px;
  font-weight: 500;
  font-size: 1.3rem;
}

.background-toggles > button {
  width: 40px;
  height: 40px;
  border-radius: 7px;
  box-shadow: 0 2px 5px 2px rgba(7, 7, 7, 0.3);
  border: none;
  outline: none;
}

/* Backgrounds */
.background-1 {
  background: white;
}

.background-2 {
  background: #85b7be; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #85b7be, #ffffff);
  background: linear-gradient(to bottom, #718ca1d2, #ffffff);
}

.background-3 {
  background: #88d498; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #1a936f, #fff);
  background: linear-gradient(to bottom, #3cb857c7, #fff);
}

/* Messages Stylings */
.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 5px 75px;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 1.1rem;
}

.info-msg {
  color: rgb(0, 0, 0);
  background-color: #ebebeb;
  font-weight: 550;
  border: 2px solid #444444;
}

.success-msg {
  color: #270;
  background-color: #dff2bf;
}

.warning-msg {
  color: #311e01;
  background-color: #fff3c6;
}

.error-msg {
  color: #d8000c;
  background-color: #ffbaba;
}

#toggle {
  margin: 0px 70px;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: #768da700;
  color: black;
  border: 0px solid rgb(255, 255, 255);
  text-decoration: underline;
}

/* Messages Stylings */
nav {
  font-size: 20px;
}

.navbar-collapse {
  padding-left: 10px;
}

header {
  overflow: hidden;
}

header img {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 25vh;
}

.content {
  width: 100%;
  height: auto;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.content h1,
h2 {
  font-size: 2.4rem;
  text-align: center;
}

#userName {
  font-weight: 600;
}

#last {
  font-style: italic;
}

.greeting {
  text-align: center;
  padding-bottom: 1rem;
}

.greeting > label {
  font-size: 1.3rem;
  font-weight: 500;
}

.greeting > input {
  width: 20%;
  height: 35px;
  border: 1px solid black;
  background: #e7e6e1;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  overflow: hidden;
  margin: 10px;
}

.greetings-btn {
  background-color: #444f5e;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  width: 90px;
  font-size: 1.3rem;
}

.greetings-btn:hover {
  background-color: #444f5e8f;
  color: white;
}

.gift-btn {
  width: 120.93px;
  height: 50px;
  cursor: pointer;
  color: whitesmoke;
  background: #5c848e;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  border: none;
}

#homelinksnav > div {
  margin: 40px 49px;
}

.homeLinks {
  background-color: #444f5e;
  color: white;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 170px;
  font-size: 1.2rem;
  text-decoration: none;
  border: none;
}

.homeLinks:hover {
  background-color: #444f5e8f;
  color: white;
}

.homeLinks:active,
.greetings-btn:active {
  background-color: #444f5e8f;
  box-shadow: 0 5px rgb(39, 39, 39);
  transform: translateY(4px);
}

.homeImage {
  width: 20vw;
  height: auto;
  border: 3px solid #444444;
  border-radius: 5px;
}

.links a,
.links a:hover {
  color: black;
  text-decoration: none;
}

.flex-container {
  height: 55%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#home-cards {
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
}

#home-cards > div {
  margin: 40px 70px;
}

#tv-cards > div,
#computer-cards > div,
#phone-cards > div,
#gaming-cards > div,
#audio-cards > div {
  margin: 10px 80px;
}

#tv-cards img,
#computer-cards img,
#phone-cards img,
#gaming-cards img,
#audio-cards img {
  width: 23vw;
}

.flex-items:nth-child(1) {
  display: block;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  cursor: pointer;
}

.flex-items:nth-child(2) {
  display: block;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  cursor: pointer;
}

figure a,
figure a:hover {
  color: black;
  text-decoration: none;
}

figure h4 {
  padding-top: 25px;
}

.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hover01 figure:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.generator {
  text-align: center;
  padding: 20px;
}

.generator > h1 {
  font-size: 1.7rem;
  padding: 30px;
}

#randomImg {
  width: 27vw;
  margin: auto;
  padding-bottom: 40px;
  border-radius: 5px;
}

#randomBtn {
  width: 20%;
  margin: auto;
  height: 45px;
  cursor: pointer;
  color: white;
  background: #444f5e;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  border: none;
  font-size: 1.5rem;
  text-align: center;
}

#randomBtn:hover {
  background-color: #444f5e8f;
  color: white;
}

#randomBtn:active {
  background-color: #444f5e8f;
  box-shadow: 0 5px rgb(39, 39, 39);
  transform: translateY(4px);
}

#rewards-text {
  width: 100%;
  height: auto;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#rewards-text > h1 {
  font-size: 1.9rem;
  text-align: center;
}

#animate {
  padding-left: 100px;
  padding-top: 10px;
}

#money {
  position: relative;
  cursor: pointer;
  width: 150px;
}

#play-wrapper {
  display: flex;
  justify-content: center;
}

#play {
  background-color: #1a936f;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  width: 100px;
  font-size: 1.5rem;
}

#play:hover {
  background-color: #1a936f80;
  color: white;
}
#play:active {
  background-color: #1a936f80;
  box-shadow: 0 5px rgb(39, 39, 39);
  transform: translateY(4px);
}

fieldset {
  background-color: #d6d6d6dc;
  padding: 5px;
  border: 2px solid;
  border-radius: 5px;
  font-size: 1.3rem;
}

legend {
  background-color: #444f5e;
  color: white;
  padding: 5px 10px;
  font-size: 1.5rem;
}

.form-container {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.form-group {
  margin: 20px;
}
.form-btn {
  width: 120.93px;
  cursor: pointer;
  color: white;
  background: #444f5e;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  margin-right: 20px;
  border: none;
  font-size: 1.4rem;
  margin: 15px;
  padding: 5px;
}

.form-btn:hover {
  background-color: #444f5e8f;
  color: white;
}

.form-btn:active {
  background-color: #444f5e8f;
  box-shadow: 0 5px rgb(39, 39, 39);
  transform: translateY(4px);
}

.form-group {
  height: 70px;
}

.form-group label {
  position: relative;
  bottom: 3px;
  display: block;
  font-size: 1.3rem;
}

.form-group input {
  width: 100%;
  height: 40px;
  border: 1px solid black;
  background: white;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1.3rem;
}

#date {
  width: 140px;
  background: white;
}

.border {
  border-top: 1px solid #444;
}

#benefit-heading {
  font-size: 1.9rem;
  padding: 20px 0px;
  font-style: italic;
}

.benefits {
  font-size: 20px;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 90px;
  margin-left: 50%;
  transform: translateX(-50%);
  border-collapse: collapse;
  border-radius: 5px;
  width: 70%;
}
.benefits > h1 {
  font-size: 20px;
}

.benefits td,
.benefits th {
  border: 2px solid #ddd;
  padding: 8px;
}

.benefits tr:nth-child(even) {
  background-color: #f2f2f2;
}

.benefits tr:hover {
  background-color: #ddd;
}

.benefits th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #d3c2a2;
  color: black;
  font-weight: 600;
}

.benefits table {
  width: 100%;
}

.topScroll {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.2rem;
  text-decoration: underline !important;
}

@media screen and (max-width: 600px) {
  .homeImage {
    width: 70vw;
  }

  .background-toggles {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 0.9rem;
    gap: 5px;
  }

  .background-toggles > button {
    width: 30px;
    height: 30px;
  }
}

@media all and (min-width: 600px) and (max-width: 1280px) {
  .homeImage {
    width: 35vw;
  }
}

@media screen and (max-width: 1200px) {
  .content {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .content h1 {
    font-size: 1.7rem;
  }

  header img {
    margin-left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
  }

  .info-msg,
  .success-msg,
  .warning-msg,
  .error-msg {
    font-size: 0.9rem;
    margin: 5px 25px;
  }

  #toggle {
    margin: 0px 25px;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: underline;
    cursor: pointer;
  }

  .greeting > label {
    font-size: 1rem;
  }

  .greeting > input {
    width: 30%;
    height: 20px;
    font-size: 1rem;
  }

  .greetings-btn {
    width: 65px;
    font-size: 1rem;
  }

  .background-toggles {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
  }

  #homelinksnav {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #homelinksnav > div {
    margin: 15px 20px;
  }

  #home-cards > div,
  #tv-cards > div,
  #computer-cards > div,
  #audio-cards > div,
  #gaming-cards > div,
  #phone-cards > div {
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
  }

  #tv-cards img,
  #computer-cards img,
  #phone-cards img,
  #gaming-cards img,
  #audio-cards img {
    width: 80vw;
  }

  .homeLinks {
    width: 140px;
    font-size: 1rem;
  }

  .home {
    padding-top: 0;
    padding-bottom: 0;
  }

  .form-container {
    font-size: 15px;
    width: 100%;
  }

  .form-group {
    margin: 15px;
  }

  .form-group input {
    padding: 8px;
    font-size: 1rem;
  }

  .form-group label {
    font-size: 1rem;
    width: 100%;
  }

  .form-btn {
    width: 100px;
  }

  .generator {
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
  }

  #randomImg {
    width: 70vw;
    height: auto;
    padding-left: 10px;
    margin: auto;
  }
  .generator > h1 {
    font-size: 22px;
    text-align: center;
  }

  #randomBtn {
    width: 70%;
    font-size: 16px;
    letter-spacing: unset;
  }

  #rewards-text {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
  }

  #rewards-text > h1 {
    font-size: 1.5rem;
  }

  #animate {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
  }

  #money {
    position: relative;
    cursor: pointer;
    width: 70px;
  }

  #play {
    font-size: 1.5rem;
  }

  #benefit-heading {
    font-size: 1.5rem;
  }

  .benefits {
    font-size: 1.3;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 90px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-collapse: collapse;
    width: 100%;
  }

  .topScroll {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1500px) {
  .homeImage {
    width: 17vw;
  }
  #home-cards > div,
  #tv-cards > div,
  #computer-cards > div,
  #audio-cards > div,
  #gaming-cards > div,
  #phone-cards > div {
    padding: 20px 70px;
  }
}
