@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

/* Messages Stylings */
.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 5px 75px;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 1.2rem;
}

.info-msg {
  color: rgb(0, 0, 0);
  background-color: #bde0ff;
}

.success-msg {
  color: #270;
  background-color: #dff2bf;
}

.warning-msg {
  color: #311e01;
  background-color: #fff3c6;
}

.error-msg {
  color: #d8000c;
  background-color: #ffbaba;
}
/* Messages Stylings */

nav {
  font-size: 20px;
}

.navbar-collapse {
  padding-left: 10px;
}

header {
  overflow: hidden;
}

header img {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 25vh;
}

.content {
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 20px;
}

.content h1,
h2 {
  font-size: 32px;
  text-align: center;
}

#userName {
  color: #000000;
  font-weight: 950;
}

.greeting {
  text-align: center;
  padding-bottom: 20px;
}

.greeting > label {
  font-size: 1.3rem;
}

.greeting > input {
  width: 20%;
  height: 35px;
  border: 1px solid black;
  background: #e7e6e1;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  overflow: hidden;
  margin: 10px;
}

.greetings-btn {
  background-color: #5a5a5a;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  width: 90px;
  font-size: 1.3rem;
}

.gift-btn {
  width: 120.93px;
  height: 50px;
  cursor: pointer;
  color: whitesmoke;
  background: #5c848e;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  border: none;
}

#homelinksnav {
  padding-top: 20px;
}

#homelinksnav > div {
  margin: 55px 49px;
}

.homeLinks {
  background-color: #444f5e;
  color: white;
  border: 2px solid #444f5e;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 180px;
  font-size: 1.3rem;
}

.homeLinks:hover {
  background-color: white;
  color: #21272e;
  border: 2px solid #000000;
}

.links a,
.links a:hover {
  color: black;
  text-decoration: none;
}

.homeImage {
  width: 19vw;
  height: auto;
  border: 3px solid #727171;
  border-radius: 5px;
}

.flex-container {
  height: 55%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#home-cards {
  border-bottom: 2px solid #e8e8e8;
}

#home-cards > div,
#tv-cards > div,
#computer-cards > div,
#phone-cards > div {
  margin: 43px 70px;
}

.flex-items:nth-child(1) {
  display: block;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  cursor: pointer;
}

.flex-items:nth-child(2) {
  display: block;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  cursor: pointer;
}

figure a,
figure a:hover {
  color: black;
  text-decoration: none;
}

figure h4 {
  padding-top: 20px;
}

.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hover01 figure:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.generator {
  text-align: center;
  padding: 20px;
}

.generator h1 {
  font-size: 28px;
  padding: 15px;
}

#randomImg {
  width: 27vw;
  margin: auto;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  padding-bottom: 25px;
}

#randomBtn {
  width: 20%;
  margin: auto;
  height: 45px;
  cursor: pointer;
  color: white;
  background: #444f5e;
  border: 2px solid #444f5e;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  border: none;
  font-size: 1.5rem;
  text-align: center;
}

#randomBtn:hover {
  border: 2px solid #000000;
  background-color: white;
  color: #21272e;
}

#randomImg:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

fieldset {
  background-color: #eeeeee;
  padding: 5px;
  border: 1px solid;
}

legend {
  background-color: #5c848e;
  color: white;
  padding: 5px 10px;
}

.form-container {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.form-btn {
  width: 120.93px;
  height: 50px;
  cursor: pointer;
  color: white;
  background: #5c848e;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  margin-right: 20px;
  border: none;
}

.form-group {
  height: 70px;
}

.form-group label {
  position: relative;
  bottom: 3px;
  display: block;
  font-size: 16px;
}

.form-group input {
  width: 100%;
  height: 40px;
  border: 1px solid black;
  background: #e7e6e1;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  overflow: hidden;
}

#date {
  width: 140px;
  background: white;
}

.benefits {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 90px;
  margin-left: 50%;
  transform: translateX(-50%);
  border-collapse: collapse;
  width: 75%;
}
.benefits > h1 {
  font-size: 20px;
}

.benefits td,
.benefits th {
  border: 1px solid #ddd;
  padding: 8px;
}

.benefits tr:nth-child(even) {
  background-color: #f2f2f2;
}

.benefits tr:hover {
  background-color: #ddd;
}

.benefits th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #cfcdbc;
  color: black;
}

.benefits table {
  width: 100%;
}

.topScroll {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}

@media screen and (max-width: 1200px) {
  .content {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 0px;
  }

  .content h1 {
    font-size: 22px;
  }

  header img {
    margin-left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
  }

  .info-msg,
  .success-msg,
  .warning-msg,
  .error-msg {
    font-size: 14px;
    margin: 5px 25px;
  }
  .greeting {
    padding-top: 20px;
  }

  .greeting > label {
    font-size: 13px;
  }

  .greeting > input {
    width: 30%;
    height: 20px;
    font-size: 13px;
  }

  .greetings-btn {
    width: 65px;
    font-size: 16px;
  }

  #homelinksnav {
    padding: 30px 0;
  }

  #homelinksnav > div {
    margin: 25px 10px;
  }

  #home-cards > div,
  #tv-cards > div,
  #computer-cards > div,
  #phone-cards > div {
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
  }

  .homeLinks {
    width: 150px;
    font-size: 14px;
  }

  .homeImage {
    width: 270px;
    height: auto;
  }

  .home {
    padding-top: 0;
    padding-bottom: 0;
  }

  fieldset {
    background-color: #eeeeee;
    padding: 5px;
    border: 1px solid;
  }

  .form-container {
    padding: 0;
    font-size: 15px;
    width: 100%;
  }

  .form-group input {
    padding: 8px;
  }

  .form-group label {
    font-size: 12px;
    width: 100%;
  }

  .form-btn {
    width: 100px;
    height: 50px;
    cursor: pointer;
    color: white;
    background: #5c848e;
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    padding: 10px;
    border: none;
  }
  .generator {
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
  }

  #randomImg {
    width: 70vw;
    height: auto;
    padding-left: 10px;
    margin: auto;
  }
  .generator h1 {
    font-size: 22px;
    text-align: center;
  }

  #randomBtn {
    width: 70%;
    font-size: 16px;
    letter-spacing: unset;
  }

  .benefits {
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 90px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-collapse: collapse;
    width: 100%;
  }

  .topScroll {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1500px) {
  .homeImage {
    width: 16vw;
  }
  #home-cards > div,
  #tv-cards > div,
  #computer-cards > div,
  #phone-cards > div {
    margin: 50px 95px;
  }
}
